<button onclick="redirectAppStore()">Download App</button>

<script>
  function redirectAppStore() {
    var userAgent = navigator.userAgent || navigator.vendor || window.opera;
    // Check if the user is using iOS
    if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
      window.location.href =
        "https://apps.apple.com/us/app/wi-fi-concierge/id1219141715";
    }
    // Check if the user is using Android
    else if (/android/i.test(userAgent)) {
      window.location.href =
        "https://play.google.com/store/apps/details?id=com.hkbn.infinitehome";
    }
    // Redirect to Google Play Store as a fallback
    else {
      window.location.href =
        "https://play.google.com/store/apps/details?id=com.fsecure.ms.hkbn";
    }
  }
</script>
